[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-phonenumber-field = "*"
djangorestframework = "*"
drf-nested-routers = "*"
djangorestframework-simplejwt = "*"
pytz = "*"
tzdata = "*"
djoser = "*"
pyjwt = "*"
django-cors-headers = "*"
django-filter = "*"
pillow = "*"
phonenumbers = "*"
python-dotenv = "*"

[dev-packages]
django-debug-toolbar = "*"

[requires]
python_version = "3.12"
